$font: 'LiterationMono Nerd Font';
$background: #0a0e14;
$foreground: #bfbab0;

$grey: #151720;
$yellowLite: #ffd580;
$yellow: #ffb454;
$orange: #ff8f40;
$blue: #73d0ff;
$green: #bae67e;
$red: #ff3333;
$cyan: #95e6cb;

$archColor: #1793d1;
$nixColor: #5277C3;
$debianColor: #a80030;
$fedoraColor: #f0b72f;
$ubuntuColor: #e95420;
 
 $bar-radius: 20px;
 $bar-padding-x: 1rem;

 $workspace-font-size: 20px;
 $workspace-margin-right: 1rem;
 $workspace-icon-size: 30px;

 $separator-font-size: 20px;
 $separator-margin-right: .5rem;
 $separator-margin-left: .2rem;

 $tray-font-size: 16px;

 $control-font-size: 1.6em;
 $control-margin-x: 1rem;

 $icon-font-size: 20px;

 $percent-font-size: 17px;

 $date-font-size: 14px;
 $date-margin-right: -2rem;
 $date-margin-left: .5rem;

 $time-font-size: 15px;
 $year-margin-left: -2rem;
