# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!tmux
!vifm
!alacritty
!alacritty/*
!fish
!starship.toml
!htop
!nvim
!nvim/**/*
!rofi
!vifm
!ranger
!qtile
!qtile/*
!spectrwm
!openbox
!tint2
!xmonad
!xmonad/*
!xmobar
!xmobar/*
!xob
!bat
!picom
!zathura
!pulse/presets
!bspwm
!bspwm/*
!sxhkd
!sxhkd/*
!polybar/*
!neofetch/*
!kitty
!pavucontrol.ini
!leftwm
!leftwm/**/*
!dunst
!dunst/*
!hypr
!hypr/**
!kitty
!kitty/*
!zed
!zed/*
!ghostty
!ghostty/*
!river
!river/*
!eww
!eww/*
!eww/**
!dwl/*
!dwl/**
!dwl/
