$font: 'LiterationMono Nerd Font';
$fontSize: 1rem;
$background: #0a0e14;
$foreground: #bfbab0;

$grey: #151720;
$yellowLite: #ffd580;
$yellow: #ffb454;
$orange: #ff8f40;
$blue: #73d0ff;
$green: #bae67e;
$red: #ff3333;
$cyan: #95e6cb;

$archColor: #1793d1;
$nixColor: #5277C3;
$debianColor: #a80030;
$fedoraColor: #f0b72f;
$ubuntuColor: #e95420;

$bar-radius: 20px;
$bar-padding-x: 1rem;

$workspace-font-size: 16px;
$workspace-margin-right: 0rem;
$workspace-icon-size: 2rem;

$separator-font-size: 16px;
$separator-margin-right: .5rem;
$separator-margin-left: .2rem;

$tray-font-size: 13px;

$control-font-size: 1.3em;
$control-margin-x: 1rem;

$icon-font-size: 16px;

$percent-font-size: 13px;

$date-font-size: 12px;
$date-margin-right: -1rem;
$date-margin-left: .5rem;

$time-font-size: 13px;
$year-margin-left: -2rem;
