@import "css/variable";

* {
  all: unset;
  font-family: $font;
}

.os-icon {
  font-size: 1.8rem;
}

.arch {
  color: $archColor;
}

.nix {
  color: $nixColor;
}

.debian {
  color: $debianColor;
}

.fedora {
  color: $fedoraColor;
}

.ubuntu {
  color: $ubuntuColor;
}

.separator {
  color: $foreground;
  font-size: 20px;
  // up right bottom left
  margin: 0 .5rem 0 .2rem;
}

.tray {
  font-size: 16px;
}

.bar {
  background-color: $background;
  border-radius: 20px;
  padding: 0 1rem;
}

.workspaces {
  font-weight: bold;
  font-size: 20px;
  margin: 0 1rem 0 0;
}

.workspace-icon {
  min-height: 30px;
  min-width: 30px;
  padding: 0 .1rem;
}

.workspace-visible {
  color: $cyan;
  opacity: 0.7;
}

.workspace-focused {
  color: $yellow;
}

.workspace-empty {
  color: $foreground;
  opacity: 0.7;
}

.workspace-entry.urgent {
  color: $red;
  opacity: 0.7;
}

.workspace-busy {
  color: $blue;
  opacity: 0.7;
}

.workspace-entry.current {
  color: $yellow;
}

.workspace-entry.occupied {
  color: $blue;
}

.workspace-entry.empty {
  color: $foreground;
}

.workspace-state {
  color: $foreground;
  font-size: 20px;
  margin-left: 0.3rem;
  margin-right: 0.4rem;
}

.window-icon {
  font-size: 15px;
  color: $yellow;
  margin-top: 1px;
}

.window-count {
  font-size: 20px;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.fullscreen-state {
  font-size: 24px;
  color: $yellow;
  margin-left: 0.4rem;
}

.control {
  margin: 0 1rem;
  font-size: 1.6em;
}

.brightness,
.volume,
.battery,
.wifi {
  margin: 0 .5rem;
}

.brightness {
  color: $yellow;
  font-size: 20px;
  // up right bottom left
}

.brightness-percent {
  // up right bottom left
  margin: 0 0 0 .9rem;
}

.brightness-percent,
.volume-percent,
.battery-percent {
  font-size: 17px;
  font-weight: bold;
}

.volume-percent {
  // up right bottom left
  margin: 0 0 0 .5rem;
}

.microphone {
  margin: 0 .5rem;
}

.microphone-icon {
  font-size: 20px;
  margin: 0 0 .1rem 0;
}

.microphone-no {
  color: $green;
}

.microphone-yes {
  color: $red;
}

.battery-percent {
  // up right bottom left
  margin: 0 0 0 .2rem;
}

.volume-percent,
.battery-percent {
}

.brightness-icon,
.volume-icon,
.battery-icon,
.notifications-icon,
.notifications-icon-pause,
.wifi-icon {
  font-size: 20px;
}

.wifi-icon {
  color: $orange;
  // up right bottom left
  margin: 0 0 .1rem 0;
}

.volume-icon {
  // up right bottom left
  margin: 0 0 .1rem 0;
}

.volume {
  color: $blue;
}

.battery {
  color: $green;
}

.notifications {
  .notifications-inner-box {
    padding: .2rem .4rem;
    border-radius: 10px;
    background-color: $background;
    color: $foreground;
    font-size: 1.2em;
    font-weight: bold;
  }

  .notifications-icon {
    color: $cyan;
  }

  .notifications-icon-pause {
    color: $red;
  }
}

.date {
  color: $foreground;
  font-weight: bold;
  font-size: 14px;
  // up right bottom left
  margin: 0 -2rem 0 .5rem;
}

.time,
.month,
.year {
  font-size: 15px;
  margin: 0;
}
.year {
  // up right bottom left
  margin: 0 0 0 -2rem;
}
