@import "css/variable";

* {
  all: unset;
  font-family: $font;
}

.os-icon {
  margin-left: 1rem;
  font-size: 1.8rem;
}

.arch {
  color: $archColor;
}

.nix {
  color: $nixColor;
}

.debian {
  color: $debianColor;
}

.fedora {
  color: $fedoraColor;
}

.ubuntu {
  color: $ubuntuColor;
}

.separator {
  color: $foreground;
  font-size: $separator-font-size;
  // up right bottom left
  margin: 0 $separator-margin-right 0 $separator-margin-left;
}

.tray {
  font-size: $tray-font-size;
}

.bar {
  background-color: $background;
  border-radius: $bar-radius;
  padding: 0 $bar-padding-x;
}

.workspaces {
  font-weight: bold;
  font-size: $workspace-font-size;
  margin: 0 $workspace-margin-right 0 0;
}

.workspace-icon {
  min-height: $workspace-icon-size;
  min-width: $workspace-icon-size;
  padding: 0 .1rem;
}

.workspace-visible {
  color: $cyan;
  opacity: 0.7;
}

.workspace-focused {
  color: $yellow;
}

.workspace-empty {
  color: $foreground;
  opacity: 0.7;
}

.workspace-entry.urgent {
  color: $red;
  opacity: 0.7;
}

.workspace-busy {
  color: $blue;
  opacity: 0.7;
}

.workspace-entry.current {
  color: $yellow;
}

.workspace-entry.occupied {
  color: $blue;
}

.workspace-entry.empty {
  color: $foreground;
}

.workspace-state {
  color: $foreground;
  font-size: $workspace-font-size;
  margin-left: 0.3rem;
  margin-right: 0.4rem;
}

.window-icon {
  font-size: $time-font-size;
  color: $yellow;
}

.window-count {
  font-size: $workspace-font-size;
  margin-left: 0.2rem;
}

.fullscreen-state {
  font-size: $workspace-font-size;
  color: $yellow;
  margin-left: 0.4rem;
}

.control {
  margin: 0 $control-margin-x;
  font-size: $control-font-size;
}

.brightness,
.volume,
.wifi {
  margin: 0 .5rem;
}

.battery {
  // up right bottom left
  margin: 0 0 0 1rem;
}

.brightness {
  color: $yellow;
  font-size: $icon-font-size;
  // up right bottom left
}

.brightness-percent {
  // up right bottom left
  margin: 0 -1rem 0 .9rem;
}

.brightness-percent,
.volume-percent,
.battery-percent {
  font-size: $percent-font-size;
  font-weight: bold;
}

.volume-percent {
  // up right bottom left
  margin: 0 0 0 .5rem;
}

.microphone {
  margin: 0 .5rem;
}

.microphone-icon {
  font-size: $icon-font-size;
}

.microphone-no {
  color: $green;
}

.microphone-yes {
  color: $red;
}

.battery-percent {
  // up right bottom left
  margin: 0 0 0 -.4rem;
}

.brightness-icon,
.volume-icon,
.battery-icon,
.notifications-icon,
.notifications-icon-pause,
.wifi-icon {
  font-size: $icon-font-size;
}

.wifi-icon {
  color: $orange;
}

.volume {
  color: $blue;
}

.battery {
  color: $green;
}

.notifications {
  .notifications-inner-box {
    padding: .2rem .4rem;
    border-radius: 10px;
    background-color: $background;
    color: $foreground;
    font-size: 1.2em;
    font-weight: bold;
  }

  .notifications-icon {
    color: $cyan;
  }

  .notifications-icon-pause {
    color: $red;
  }
}

.date {
  color: $foreground;
  font-weight: bold;
  font-size: $date-font-size;
  // up right bottom left
  margin: 0 $date-margin-right 0 $date-margin-left;
}

.time,
.month,
.year {
  font-size: $time-font-size;
  margin: 0;
}
.year {
  // up right bottom left
  margin: 0 0 0 $year-margin-left;
}
